<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link href="../dist/styles.css" rel="stylesheet">
</head>
<body class="bg-gray-200 w-full h-full">

  <div id="app">
    <main class="w-11/12 mx-auto">
      <section class="_password shadow-lg">
        <header class="hidden lg:block">
          <ul class="
            flex
            bg-slate-300 text-gray-600
            p-4 mt-4
            rounded-md
            ">
            <li
              v-for="(value, key) in header"
              class="basis-1/6">
              {{value}}
            </li>
          </ul>
        </header>
        <template v-for="password in passwords">
          <dl>
            <dt>{{header.name}}</dt>
            <dd>{{password.name}}</dd>
            <dt>{{header.desc}}</dt>
            <dd>{{password.desc}}</dd>
            <dt>{{header.user}}</dt>
            <dd>{{password.user}}</dd>
            <dt>{{header.pass}}</dt>
            <dd>{{password.pass}}</dd>
            <dt>{{header.note}}</dt>
            <dd>{{password.note}}</dd>
          </dl>
        </template>
      </section>
    </main>
  </div>

  <script>
    const p = (name, desc, user, pass, note) => {
      return {
        name, desc, user, pass, note
      }
    };
    const app = new Vue({
      el: "#app",
      data() {
        return {
          header: p("名前", "説明", "ユーザID", "パスワード", "備考"),
          passwords: [
            { ...p("ポスト", "ポストの開閉ダイヤル", "-", "左に○, 右に△, 右に□", "自宅のポスト") },
            { ...p("署名用電子証明書", "マイナンバーカード", "-", "XXXYYYZZZ", "納税の時に使う") }
          ]
        };
      }
    });
  </script>
</body>
</html>
